PORT=3000
NODE_ENV=development

# Local DB variables (used in development/test)
DB_USER=postgres
DB_PASS=postgres
DB_NAME=url_shortener
DB_HOST=localhost
DB_PORT=5432

# Production DB variable (used in production)
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME
